@import 'https://fonts.googleapis.com/css?family=Lato';

/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main style */
body {
  display: flex;
  font-family: 'lato';
  background-color: #fafafa;
  color: #1a1a1a;
}

a {
  text-decoration: none;
  list-style: none;
}

h1,
h2 {
  margin: 1em 0;
}

table th {
  padding: 0.6em 1.2em;
  text-align: left;
}

/* Utility classes */
.content {
  width: 100%;
}

.wrapper {
  margin: auto;
  max-width: 960px;
}

.ratio-4-3 {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
}

/* Content */

.content > :first-child,
.chapter > :first-child,
.section > * {
  max-width: 960px;
  margin: 1em auto;
  padding: 0 1em;
}

.section {
  padding: 1em 0;
  overflow: hidden;
}

.section:nth-child(even) {
  background-color: #edf0f4;
}

/* Side navbar */

.side-nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: auto;
  height: 100vh;
  background-color: #1a1a1a;
}

.side-nav a {
  display: block;
  margin: auto;
  padding: 0 0.8em;
  color: #555761;
  transition: color 150ms ease-in;
  transition: background-color 150ms ease-in;
}

.side-nav a:hover {
  color: #e4c6fa;
}

.side-nav #home {
  margin-bottom: 1.2em;
  padding: 0.7em 0.8em;
  background-color: #e4c6fa;
  color: #1a1a1a;
}

.side-nav #home:hover {
  background-color: #cd9ef7;
}

/* Desmos */

.desmos {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Subject */

.subject {
  display: block;
  margin: 0.4em 0;
  padding: 1em;
  font-size: 1.4em;
  color: #1a1a1a;
  transition: 150ms ease-in;
}

/* Specific styles */

#home-page {
  /* background: #1a1a1a url('https://source.unsplash.com/featured/?notebook') no-repeat; */
  background: #1a1a1a url('https://images.unsplash.com/photo-1524351543168-8e38787614e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80') no-repeat;
  background-size: cover;
  height: 100vh;
}

#home-page > div {
  position: absolute;
  top: 44%;
  transform: translate(0, -50%);
  width: 100%;
}

#home-page > div > div {
  margin: auto;
  padding: 1em;
  max-width: 36em;
  background-color: #fafafa;
}

#home-page h1 {
  margin: 0;
}

#home-page p {
  margin-bottom: 1em;
}

#met-34 {
  background-color: #fff394;
}

#met-34:hover {
  background-color: #ffe16b;
}

#spe-34 {
  background-color: #ff8c82;
}

#spe-34:hover {
  background-color: #ed5353;
}

/* Responsive design */

@media (max-width: 640px) {
  .side-nav {
    display: none;
  }
}
