@import 'https://fonts.googleapis.com/css?family=Lato';

* {
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  font-family: 'lato';
  display: flex;
}

.content {
  width: 100%;
}

.content > :first-child,
.chapter > :first-child,
.section > * {
  max-width: 800px;
  margin: auto;
  padding: 0.6em;
}

.section {
  padding: 1.2em 0;
}

.section:nth-child(even) {
  background-color: #edf0f4;
}

.subject {
  margin: 1em;
  padding: 1em;
  font-size: 1.4em;
  color: #1a1a1a;
  transition: 150ms ease-in;
}

#met-34 {
  background-color: #fff394;
}

#met-34:hover {
  background-color: #ffe16b;
}

#spe-34 {
  background-color: #ff8c82;
}

#spe-34:hover {
  background-color: #ed5353;
}

.side-nav {
  height: 100vh;
  width: auto;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
}

.side-nav a {
  padding: 0 0.8em;
  color: #818181;
  display: block;
  transition: color 150ms ease-in;
  transition: background-color 150ms ease-in;
}

.side-nav a:hover {
  color: #e4c6fa;
}

.side-nav #home {
  margin-bottom: 1.2em;
  padding: 0.7em 0.8em;
  background-color: #e4c6fa;
  color: #1a1a1a;
}

.side-nav #home:hover {
  background-color: #cd9ef7;
}

.ratio-4-3 {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
}

.desmos {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) {
  .side-nav {
    display: none;
  }
  .wrapper {
    transform: translate(0, 0);
  }
}
